from sqlalchemy import URL

db_url = URL.create(
    drivername  = "postgresql",
    host        = "localhost",
    port        = "5432",
    username    = "",
    password    = "",
    database    = ""
)
